* {
  padding: 0px;
  margin: 0px;
  border-radius: 7px;
  /* border: solid 0.5px black; */
}

/* Login Page Layout */

.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
  height: 100vh;
  width: 1250px;
}

.login-title {
  font-size: 44px;
  margin-top: 60px;
  background-color: #c297c2;
  width: 600px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 200px;
  margin-bottom: 100px;
}

.form-name {
  align-items: center;
  height: 100px;
}

.form-difficulty {
  height: 60px;
}

#name {
  background-color: thistle;
  font-size: 18px;
  font-family: inherit;
  height: 20px;
  width: 300px;
  padding: 8px;
  margin: 10px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #c297c2;
}

#hard {
  margin-left: 22px;
}

label {
  background-color: thistle;
  font-size: 20px;
  padding: 8px;
  margin: 10px;
}

a {
  margin-top: 30px;
  padding-left: 10px;
}

.submit-button {
  background-color: thistle;
  font-size: 28px;
  height: 40px;
  width: 250px;
  margin-left: 150px;
  padding-top: 10px;
  box-shadow:
    -2px 2px 8px rgba(176, 168, 189),
    2px -2px 8px rgba(176, 168, 189),
    0px 0px 16px rgba(176, 168, 189);
}

.submit-button:hover {
  background-color: #c297c2;
}

/* Main Page Layout */

.main-page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  font-family: DejaVu Sans Mono, monospace
}

.normal-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  background: lavender;
}

.side-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  background: thistle;
}

.game-title {
  font-size: 44px;
  margin-top: 60px;
  background-color: #c297c2;
  width: 600px;
}

.choose-text {
  font-size: 28px;
  margin-top: 60px;
  background-color: #c297c2;
  width: 270px;
}

/* Hard Mode Layout */

.hard-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  background: lavender;
}

/* Results Page Layout */

.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lavender;
  width: 1300px;
}

.shoot {
  text-align: center;
  font-size: 48px;
  background-color: #c297c2;
  width: 250px;
  height: 60px;
  margin-top: 100px;
}

.result-text {
  text-align: center;
  font-size: 24px;
  background-color: #c297c2;
  width: 250px;
  height: 60px;
  margin-top: 100px;
}

.choices-box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  height: 200px;
  width: 1000px;
}

.player-choice {
  font-size: 120px;
  background-color: thistle;
  height: 150px;
  width: 250px;
}

/* Player Data */

.icon {
  font-size: 40px;
  margin-top: -300px;
  background-color: #c297c2;
  width: 50px;
}

.name {
  margin-top: -900px;
  font-size: 30px;
  background-color: #c297c2;
  width: 150px;
}

.score-count {
  margin-top: -900px;
  font-size: 24px;
  background-color: #c297c2;
  width: 130px;
}

/* Buttons */

.choices {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 700px;
  font-size: 100px;
  padding-top: 200px;
}

section.choices > p {
  width: 130px;
  height: 130px;
  background-color: thistle;
  box-shadow:
    -2px 2px 10px rgba(176, 168, 189),
    2px -2px 10px rgba(176, 168, 189),
    0px 0px 20px rgba(176, 168, 189);
}

section.choices > p:hover {
  background-color: #c297c2;
}

/* Hidden Property */

.hidden {
  display: none;
}
