* {
  padding: 0px;
  margin: 0px;
  border-radius: 7px;
  /* border: solid 0.5px black; */
}

/* Main Page Layout */

.main-page {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  text-align: center;
  font-family: DejaVu Sans Mono, monospace
}

.center-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1300px;
  background: lavender;
}

.side-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 200px;
  background: thistle;
}

.game-title {
  font-size: 44px;
  margin-top: 60px;
  background-color: #c297c2;
  width: 600px;
}

.choose-text {
  font-size: 28px;
  margin-top: 60px;
  background-color: #c297c2;
  width: 270px;
}

/* Results Page Layout */

.results-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lavender;
  width: 1300px;
}

.shoot {
  text-align: center;
  font-size: 48px;
  background-color: #c297c2;
  width: 250px;
  height: 60px;
  margin-top: 100px;
}

.result-text {
  text-align: center;
  font-size: 24px;
  background-color: #c297c2;
  width: 250px;
  height: 60px;
  margin-top: 100px;
}

.choices-box {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
  height: 200px;
  width: 1000px;
}

.player-choice {
  font-size: 120px;
  background-color: thistle;
  height: 150px;
  width: 250px;
}

/* Player Data */

.icon {
  font-size: 40px;
  margin-top: -300px;
  background-color: #c297c2;
  width: 50px;
}

.name {
  margin-top: -900px;
  font-size: 30px;
  background-color: #c297c2;
  width: 120px;
}

.score-count {
  margin-top: -900px;
  font-size: 24px;
  background-color: #c297c2;
  width: 130px;
}

/* Buttons */

.choices {
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 700px;
  font-size: 100px;
  padding-top: 200px;
}

section.choices > p {
  width: 130px;
  height: 130px;
  background-color: thistle;
}

section.choices > p:hover {
  background-color: #c297c2;
}

/* Hidden Property */

.hidden {
  display: none;
}
